.elipsecard{
    margin-top: 200px;
}

.elipseimage{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.elipse_images{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 300px;
    padding: 5px;
    border-radius: 150px;
}

.elipse_images{
    background-color: #C1FF72;
}

.elipsecard:nth-child(1) {
    transform: translateY(0);
}

.elipsecard:nth-child(2) {
    transform: translateY(-160px);
}

.elipsecard:nth-child(3) {
    transform: translateY(-260px);
}

.elipsecard:nth-child(4) {
    transform: translateY(-360px);
}

@media (max-width: 768px) {
    .elipse_images{
        width: 65px;
        gap: 5px;
    }

    .elipsecard{
        margin-top: 100px;
    }

    .elipseimage{
        width: 65px;
        height: 65px;
    }

    .elipsecard:nth-child(1) {
        transform: translateY(0);
    }
    
    .elipsecard:nth-child(2) {
        transform: translateY(-50px);
    }
    
    .elipsecard:nth-child(3) {
        transform: translateY(-100px);
    }
    
    .elipsecard:nth-child(4) {
        transform: translateY(-140px);
    }

}

@media (min-width: 769px) and (max-width: 1024px) {
    .elipse_images{
        width: 170px;
        gap: 5px;
    }

    .elipsecard{
        margin-top: 100px;
    }

    .elipseimage{
        width: 170px;
        height: 170px;
    }

    .elipsecard:nth-child(1) {
        transform: translateY(0);
    }
    
    .elipsecard:nth-child(2) {
        transform: translateY(-50px);
    }
    
    .elipsecard:nth-child(3) {
        transform: translateY(-100px);
    }
    
    .elipsecard:nth-child(4) {
        transform: translateY(-140px);
    }
}
  