.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1000;
    display: flex;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-sizing: border-box;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.slide-down {
    animation-name: slideDown;
}

.slide-up {
    animation-name: slideUp;
}

.fullscreen_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.fullscreen_left img {
    max-width: 100%;
    height: auto;
}

.fullscreen_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.fullscreen_btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 60px;
}

.links{
    font-size: 55px;
    text-decoration: none;
    color: #00000099;
    cursor: pointer;
}

.fullscreen_details{
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-top: 50px;
}

.fullscreen_down{
    display: flex;
    justify-content: space-between;
}

.fullscreen_links{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.links:hover{
    color: #000000;
}

.links img{
    display: none;
    margin-left: 25px;
}

.links:hover img{
    display: inline-flex;
}

.fullscreen_mobile{
    display: none;
    justify-content: space-between;
    align-items: center;
}

.fullscreen_logo{
    display: none;
}

@media (max-width : 768px) {
    .fullscreen{
        flex-direction: column-reverse;
        border: 10px solid #000000;
    }

    .fullscreen_left{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        display: block;
    }

    .fullscreen_img{
        display: none;
    }

    .fullscreen_links{
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .fullscreen_down{
        display: none;
    }

    .fullscreen_mobile{
        display: flex;
    }

    .links{
        font-size: 40px;
        display: flex;
        align-items: center;
    }

    .fullscreen_details{
        gap: 15px;
        margin-top: 15px;
    }

    .fullscreen_right{
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 20px;
        height: 80%;
    }

    .fullscreen_btn{
        margin: 0px;
        display: flex;
        justify-content: space-between;
    }

    .links img{
        width: 30px;
    }

    .fullscreen_logo{
        display: block;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .fullscreen{
        flex-direction: column-reverse;
        border: 10px solid #000000;
    }

    .fullscreen_left{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        display: block;
        height: 20%;
    }

    .fullscreen_img{
        display: none;
    }

    .fullscreen_links{
        gap: 50px;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .fullscreen_down{
        display: none;
    }

    .fullscreen_mobile{
        display: flex;
        margin-top: 5%;
    }

    .links{
        font-size: 65px;
        display: flex;
        align-items: center;
    }

    .fullscreen_details{
        gap: 15px;
        margin-top: 15px;
    }

    .fullscreen_right{
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 20px;
        height: 80%;
    }

    .fullscreen_btn{
        margin: 0px;
        display: flex;
        justify-content: space-between;
    }

    .links img{
        width: 30px;
    }

    .fullscreen_logo{
        display: block;
        width: 8%;
    }
}