.images{
    display: flex;
    gap: 80px;
    align-items: flex-end;
    margin-top: 100px;
}

.images_1{
    width: 250px;
    height: 200px;
}

.images_2{
    width: 450px;
    height: 400px;
    object-fit: cover;
}

.images_3{
    width: 500px;
    height: 500px;
    position: relative;
    top: -200px;
}

@media (max-width : 768px) {
    .images{
        gap: 25px;
    }

    .images_1{
        width: 100px;
        height: 100px;
    }
    
    .images_2{
        width: 250px;
        height: 200px;
    }
    
    .images_3{
        width: 250px;
        height: 250px;
        position: relative;
        margin-top: -10px;
        display: none;
    }
}