.images{
    display: flex;
    gap: 80px;
    align-items: flex-end;
}

.images_1{
    width: 250px;
    height: 200px;
}

.images_2{
    width: 450px;
    height: 400px;
    object-fit: cover;
}

.images_3{
    width: 500px;
    height: 500px;
    position: relative;
    top: -100px;
}

@media (max-width : 768px) {
    .images{
        gap: 25px;
        margin-top: 50px;
        justify-content: center;
    }

    .images_1{
        width: 100px;
        height: 100px;
    }
    
    .images_2{
        width: 200px;
        height: 200px;
    }
    
    .images_3{
        width: 250px;
        height: 250px;
        position: relative;
        margin-top: -10px;
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .images{
        gap: 40px;
        margin-top: 50px;
        justify-content: center;
    }

    .images_1{
        width: 170px;
        height: 130px;
    }
    
    .images_2{
        width: 220px;
        height: 220px;
    }
    
    .images_3{
        width: 230px;
        height: 230px;
        position: relative;
        margin-top: -10px;
        display: block;
    }
}