.numtext_heading{
    font-size: 66px;
    font-weight: 400;
    text-align: left;    
    color: #FFFFFF;
}

.numtext_para{
    font-size: 16px;
    font-weight: 400;
    text-align: left;   
    color: #FFFFFF; 
}

@media (max-width : 768px) {
    .numtext_heading{
        font-size: 30px;
    }
    .numtext_para{
        font-size: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .numtext_heading{
        font-size: 40px;
    }
    .numtext_para{
        font-size: 14px;
    }
}