
.projects_text{
    display: flex;
    gap: 120px;
}

@media (max-width : 768px) {
    .projects_text{
        gap: 30px;
        justify-content: center;
    }

    .projects{
        margin-top: 10px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .projects_text{
        gap: 60px;
    }

    .projects{
        margin-top: 10px;
    }
}