.serviceimg{
    width: 350px;
    height: 350px;
    position: relative;
    top: -60px;
}

.service{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.service_top{
    display: flex;
    justify-content: space-between;
}

.service_headings{
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    top: -200px;
}

@media (max-width : 768px) {
    .serviceimg{
        width: 150px;
        height: 150px;
        top: -30px;
    }
    .service_headings{
        top: -80px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .serviceimg{
        width: 250px;
        height: 250px;
        top: -30px;
    }
    .service_headings{
        top: -120px;
    }
}