.workcard{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.workcard_img{
    width: 480px;
    height: 480px;
}

@media (max-width : 768px) {
    .workcard_img{
        width: 140px;
        height: 160px;
        object-fit: contain;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .workcard_img{
        width: 270px;
        height: 270px;
    }
}