.work{
    margin-top: 100px;
}

.work_images{
    margin-left: auto;
    width: fit-content;
    margin-top: 80px;
}

@media (max-width : 768px) {
    .heading.work{
        margin-left: 0px;
    }

    .work_images{
        margin-top: 40px;
    }

    .work{
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .heading.work{
        margin-left: 0px;
    }

    .work_images{
        margin-top: 40px;
    }

    .work{
        margin-top: 50px;
    }
}